<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.school.schoolservice.mapper.AdminMapper">

    <select id="selectAuthorityByAdminId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select a.key as permission
        from AdminRole adr
        left join AuthorityRole aur on adr.role_id = aur.role_id
        left join Authority a on aur.authority_id = a.id
        where admin_id = #{id}
    </select>
</mapper>
